<body>
<div class="text-center">
  <h1 class="font-weight-bold">Não encontrou o que está procurando?</h1>
<h2>Entre em contato</h2>
<p class="font-weight-bold">(11) 97041-6750</p>
</div>

<div class="col-md-12">
  <div class="contato d-flex m-4 justify-content-center font-weight-bolder" id="contato">
    <div class="rounded">
      <a href="mailto:brunoribeirokyo@gmail.com"><h2>Encomendei!</h2></a>
    </div>
  </div>
  </div>

  <div class="text-center">
    <h1>
      <p></p>
    </h1>
  </div>

</body>
