<section class="d-flex flex-row flex-wrap text-center justify-content-center p-3">

  <div class="card" style="width: 20rem;">
    <img src="https://i.imgur.com/9tdxrEP.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chaveiros de Borracha</h5>
      <p class="card-text">Chaveiros feitos com borracha de alta qualidade excelente acabamento.</p>
      <p class="font-weight-bolder">R$ 5,00 Reais</p>
      <a href="https://wa.me/qr/C6K3SDPTU7OVO1" target="_black" class="btn btn-success">Encomendar</a>
    </div>
  </div>

</section>
